<!-- <div id="hw-hero">
  <div class="header header1">
    <div class="header-navigation">
      <div class="row">
        <div class="col-sm-12">
          <div class="logonav">
            <div class="row no-gutter align-items-center">
              <div class="col-sm-1">
                <div class="logo">
                  <a routerLink="/">
                    <img src="assets/images/magadh-capital-logo.png" alt="Magadh Capital" />
                  </a>
                </div>
              </div>
              <div class="col-sm-11">
                <nav id="desktop-menu">
                  <ul class="sf-menu clickTo nav" id="navigation">
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/">HOME</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/backbone">THE BACKBONE</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/difference">MAGADH DIFFERENCE</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="investmentFrameworkDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        INVESTMENT FRAMEWORK
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="investmentFrameworkDropdown">
                        <li><a class="dropdown-item" routerLink="/philosophy">INVESTMENT PHILOSOPHY</a></li>
                        <li><a class="dropdown-item" routerLink="/investment-process">INVESTMENT PROCESS</a></li>
                        <li><a class="dropdown-item" routerLink="/inspiration">OUR INSPIRATION</a></li>
                      </ul>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/risk-management">RISK MANAGEMENT</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/team">OUR TEAM</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="resourcesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        RESOURCES
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="resourcesDropdown">
                        <li><a class="dropdown-item" routerLink="/resources/blogs">OUR BLOGS</a></li>
                        <li><a class="dropdown-item" routerLink="/resources/media">MEDIA</a></li>
                        <li><a class="dropdown-item" routerLink="/resources/newsletters">NEWSLETTERS</a></li>
                        <li><a class="dropdown-item" routerLink="/resources/towards-awareness">TOWARDS AWARENESS</a></li>
                        <li><a class="dropdown-item" routerLink="/resources/faqs">FAQS</a></li>
                      </ul>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="investorAssistanceDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        INVESTOR ASSISTANCE
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="investorAssistanceDropdown">
                        <li><a class="dropdown-item" routerLink="/login-in">LOGIN IN</a></li>
                        <li><a class="dropdown-item" routerLink="/how-to-invest-with-us">HOW TO INVEST WITH US</a></li>
                        <li><a class="dropdown-item" routerLink="/downloads">DOWNLOADS</a></li>
                        <li><a class="dropdown-item" routerLink="/grievances">GRIEVANCES</a></li>
                        <li><a class="dropdown-item" routerLink="/investor-faq">FAQ</a></li>
                      </ul>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/contact-us">CONTACT</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>
</div> -->
 <div id="hw-hero">
      <div class="header header1">
        <div  [ngClass]="{'f-nav fadeindown': isScrolled}" class="header-navigation">
          <div class="row"   >
            <div class="col-sm-12">
              <div class="logonav">
                <div class="row no-gutter">
                  <div class="col-sm-1 position-relative">
                    <div class="logo"> <a href="index"><img
                          src="assets/images/magadh-capital-logo-revised-v02.png"
                          alt /></a> </div>
                  </div>
                  <div class="col-sm-11">
                    <nav id="desktop-menu">
                      <ul class="sf-menu" id="navigation">
                        <li class="current"><a href="index">Home</a></li>
                        <li><a routerLink="backbone">The Backbone</a></li>
                        <li><a routerLink="difference">Magadh Difference</a></li>
                        <li><a routerLink="philosophy">Investment Framework</a>
                          <ul>
                            <li><a routerLink="philosophy">Investment
                                Philosophy &amp; Style</a></li>
                            <li><a routerLink="philosophy/process">Investment
                                Process</a></li>
                            <li><a routerLink="philosophy/inspiration">Our
                                Inspiration</a></li>
                          </ul>
                        </li>
                        <li><a routerLink="risk-management">Risk
                            Management</a></li>
                        <li><a routerLink="team.html">Our Team</a></li>
                        <li><a routerLink="resourses">Resources</a>
                          <ul>
                            <li><a routerLink="resourses/our-blogs">Our
                                Blogs</a></li>
                            <li><a routerLink="resourses/media">Media</a></li>
                            <li><a
                                routerLink="resourses/Investorletters">Investor
                                Letters</a></li>
                            <li><a
                                routerLink="resourses/towards_awareness">Towards
                                Awareness</a></li>
                            <!-- <li><a routerLink="resourses.html#faqs" target="_blank">Faqs</a></li> -->
                          </ul>
                        </li>
                        <li><a routerLink="assistance.html">Investor Assistance</a>
                          <ul>
                            <li><a
                                routerLink="https://faconnect.kotak.com/"
                                target="_blank" rel="noopener noreferrer">Log
                                in</a></li>
                            <li><a routerLink="assistance/invest">How to invest
                                with us</a></li>
                            <li><a
                                routerLink="assistance/download">Downloads</a></li>
                            <li><a
                                routerLink="assistance/complaints">Grievances</a></li>
                            <li><a routerLink="assistance/FAQ">FAQ</a></li>
                          </ul>
                        </li>
                        <li><a routerLink="contact-us">Contact</a></li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- LOGO & NAVIGATION --> <!-- END OF LOGO & NAVIGATION -->

      </div>

      <!-- SLIDER -->
      <div class="slider-pro" id="index-slider">
        <div class="sp-slides">
          <!-- Slide 1 -->
          <div class="sp-slide">
            <img class="sp-image" src="assets/img/1_home.jpg" alt />
            <div class="hw-the-slider-content">
              <div class="row">
                <div class="col-sm-12">
                  <div class="hw-the-slider-container">
                    <div class="hw-the-slider-captions sp-layer"
                      data-show-transition="left" data-show-delay="800">
                      <h2>Helping Our Investors Meet Their Wealth
                        Objectives</h2>
                      <!--<p>Magadh Capital is a Mumbai based long-only India equity fund registered as a category III AIF (Alternative Investment Fund) with SEBI (Securities and Exchange Board of India).</p>-->

                      <p style="text-align:center;">Magadh Capital is a Mumbai
                        based SEBI (Securities and Exchange Board of India) -
                        registered Portfolio Manager</p>
                      <!-- <a href="" class="hw-btn">Learn More</a> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sp-slide">
            <img class="sp-image" src="assets/images/slide_backbone.jpg" alt />
            <div class="hw-the-slider-content">
              <div class="row">
                <div class="col-sm-12">
                  <div class="hw-the-slider-container">
                    <div class="hw-the-slider-captions sp-layer"
                      data-show-transition="left" data-show-delay="800">
                      <h2>The Non-negotiables</h2>
                      <p style="text-align:center; ">Integrity, Knowledge,
                        Simplicity</p>
                      <!-- <a href="" class="hw-btn">Learn More</a> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- End of Slide 1 -->

          <div class="sp-slide">
            <img class="sp-image" src="assets/images/inner_difference.jpg" alt />
            <div class="hw-the-slider-content">
              <div class="row">
                <div class="col-sm-12">
                  <div class="hw-the-slider-container">
                    <div class="hw-the-slider-captions sp-layer"
                      data-show-transition="left" data-show-delay="800">
                      <h2>Our Conventional Style Makes Us Different</h2>
                      <p style="text-align:center;">Old school investment style
                        may seem boring but history suggests that if it is
                        applied with discipline and patience it can lead to
                        healthy wealth creation</p>
                      <!-- <a href="" class="hw-btn">Learn More</a> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sp-slide">
            <img class="sp-image" src="assets/images/invest_philosophy.jpg" alt />
            <div class="hw-the-slider-content">
              <div class="row">
                <div class="col-sm-12">
                  <div class="hw-the-slider-container">
                    <div class="hw-the-slider-captions sp-layer"
                      data-show-transition="left" data-show-delay="800">
                      <h2>Alignment in Investment Philosophy and Life
                        Philosophy</h2>
                      <p style="text-align:center;">Application of a mix of top
                        down as well as bottom-up approach to create a portfolio
                        of stocks selected by dovetailing fundamental analysis
                        and behavioural finance, and then running the portfolio
                        in a disciplined manner</p>
                      <!-- <a href="" class="hw-btn">Learn More</a> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End of Slide 3 -->
          <div class="sp-slide">
            <img class="sp-image" src="assets/img/home_tree.jpg" alt />
            <div class="hw-the-slider-content">
              <div class="row">
                <div class="col-sm-12">
                  <div class="hw-the-slider-container">
                    <div class="hw-the-slider-captions sp-layer"
                      data-show-transition="right" data-show-delay="800">
                      <h2>Standing on The Giants' Shoulders</h2>
                      <p style="text-align:center;">Our investing style draws
                        heavily from top practitioners of fundamental style of
                        investing,
                        from our own experience in the field, and from the
                        masters in the field of behavioural
                        economics.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="sp-slide">
            <img class="sp-image" src="assets/images/slide_risk.jpg" alt />
            <div class="hw-the-slider-content">
              <div class="row">
                <div class="col-sm-12">
                  <div class="hw-the-slider-container">
                    <div class="hw-the-slider-captions sp-layer"
                      data-show-transition="right" data-show-delay="800">
                      <h2>Awareness of Pitfalls</h2>
                      <p style="text-align:center;">In keeping with our view
                        that markets are inherently risky, we assign high
                        priority to assessing, understanding and optimising risk
                        pertaining to stocks and portfolios - Capital protection
                        is a crucial focus area for us</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END OF SLIDER -->
    </div>