<div id="hw-hero">
  <div class="header header1">
    <div class="header-navigation">
      <div class="row">
        <div class="col-sm-12">
          <div class="logonav">
            <div class="row no-gutter align-items-center">
              <div class="col-sm-1">
                <div class="logo">
                  <a routerLink="/">
                    <img src="assets/images/magadh-capital-logo.png" alt="Magadh Capital" />
                  </a>
                </div>
              </div>
              <div class="col-sm-11">
                <nav id="desktop-menu">
                  <ul class="sf-menu clickTo nav" id="navigation">
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/">HOME</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/backbone">THE BACKBONE</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/difference">MAGADH DIFFERENCE</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="investmentFrameworkDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        INVESTMENT FRAMEWORK
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="investmentFrameworkDropdown">
                        <li><a class="dropdown-item" routerLink="/philosophy">INVESTMENT PHILOSOPHY</a></li>
                        <li><a class="dropdown-item" routerLink="/investment-process">INVESTMENT PROCESS</a></li>
                        <li><a class="dropdown-item" routerLink="/inspiration">OUR INSPIRATION</a></li>
                      </ul>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/risk-management">RISK MANAGEMENT</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/team">OUR TEAM</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="resourcesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        RESOURCES
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="resourcesDropdown">
                        <li><a class="dropdown-item" routerLink="/resources/blogs">OUR BLOGS</a></li>
                        <li><a class="dropdown-item" routerLink="/resources/media">MEDIA</a></li>
                        <li><a class="dropdown-item" routerLink="/resources/newsletters">NEWSLETTERS</a></li>
                        <li><a class="dropdown-item" routerLink="/resources/towards-awareness">TOWARDS AWARENESS</a></li>
                        <li><a class="dropdown-item" routerLink="/resources/faqs">FAQS</a></li>
                      </ul>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="investorAssistanceDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        INVESTOR ASSISTANCE
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="investorAssistanceDropdown">
                        <li><a class="dropdown-item" routerLink="/login-in">LOGIN IN</a></li>
                        <li><a class="dropdown-item" routerLink="/how-to-invest-with-us">HOW TO INVEST WITH US</a></li>
                        <li><a class="dropdown-item" routerLink="/downloads">DOWNLOADS</a></li>
                        <li><a class="dropdown-item" routerLink="/grievances">GRIEVANCES</a></li>
                        <li><a class="dropdown-item" routerLink="/investor-faq">FAQ</a></li>
                      </ul>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/contact-us">CONTACT</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END OF LOGO & NAVIGATION -->
  </div>
</div>