<div class="post-content">
    <h2>HOW TO<span> INVEST WITH US</span></h2>

    <br />
    <p style="text-align: left">
        Magadh Capital offers Portfolio Management Services with
        two
        investment approaches – <br />
        1) Value for Growth - A multi-cap, sector agnostic
        strategy
        with BSE 500 TRI (Total Return Index) as the benchmark, and
        <br />2) Future Stars
        -
        A small-cap and mid-cap, sector agnostic strategy with
        BSE 500 TRI (Total Return Index) as the
        benchmark.<br /><br />Investor
        may
        invest with us directly. To invest in any of our PMS
        investment approaches directly, please write to us at
        <a
            href="mailto:investor.info@magadhcapital.com ">investor.info@magadhcapital.com
        </a>
    </p>

    <a
        class="btn btn-default"
        target="_blank" rel="noopener noreferrer"
        href="./assets/documents/Disclosure Document Magadh Capital Advisors LLP_Final.pdf"
        download="./assets/documents/Disclosure Document Magadh Capital Advisors LLP_Final.pdf"
        role="button">Disclosure Document
    </a>
</div>
