<ul class="nav nav-tabs" id="myTabs" role="tablist">
    <li class="nav-item" role="presentation">
        <button
            class="nav-link active"
            id="PMS-tab"
            data-bs-toggle="tab"
            data-bs-target="#PMS"
            type="button"
            role="tab"
            aria-controls="PMS"
            aria-selected="true">
            PMS
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button
            class="nav-link"
            id="AIF-tab"
            data-bs-toggle="tab"
            data-bs-target="#AIF"
            type="button"
            role="tab"
            aria-controls="AIF"
            aria-selected="false">
            AIF
        </button>
    </li>
</ul>
<div class="tab-content" id="myTabsContent">
    <div
        class="tab-pane fade show active"
        id="PMS"
        role="tabpanel"
        aria-labelledby="PMS-tab">
        <div id="accordion" class="style1 panel-group">
            <div class="panel panel-default" *ngFor="let faq of faqs">
                <div class="panel-heading" (click)="toggleFAQ(faq)">
                    <h4 class="panel-title">
                        <a>
                            <i
                                class="indicator fa"
                                [ngClass]="{
                  'fa-minus-square-o': faq.isOpen,
                  'fa-plus-square-o': !faq.isOpen
                }"></i>
                            {{ faq.question }}

                        </a>
                    </h4>
                </div>
                <div class="panel-collapse" [id]="faq.id" *ngIf="faq.isOpen">
                    <div class="panel-body">
                        <p [innerHTML]="faq.answer"></p>
                        <ul *ngIf="faq.array && faq.array.length">
                            <li *ngFor="let item of faq.array">{{ item
                                }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="AIF" role="tabpanel"
        aria-labelledby="AIF-tab">
        <div id="accordion" class="style1 panel-group">
            <div id="accordion" class="style1 panel-group">
                <div class="panel panel-default" *ngFor="let aif of aifs">
                    <div class="panel-heading" (click)="toggleAIF(aif)">
                        <h4 class="panel-title">
                            <a>
                                <i
                                    class="indicator fa"
                                    [ngClass]="{
                    'fa-minus-square-o': aif.isOpen,
                    'fa-plus-square-o': !aif.isOpen
                  }"></i>
                                {{ aif.question }}
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse" [id]="aif.id"
                        *ngIf="aif.isOpen">
                        <div class="panel-body">
                            <p [innerHTML]="aif.answer"></p>
                            <ul *ngIf="aif.array && aif.array.length">
                                <li *ngFor="let item of aif.array">{{ item
                                    }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
