<!-- Header -->
<app-header></app-header>

<!-- Main Content -->
<router-outlet></router-outlet>

<!-- Footer -->
<!-- <footer class="footer mt-auto py-3 bg-light text-center">
  <div class="container">
    <span class="text-muted">Copyright Magadh Capital. All Rights Reserved.</span>
  </div>
</footer> -->
 <div class="copyright">
      <div class="row">
        <div class="col-sm-2">

        </div>
        <div class="col-sm-8">
          <p class="text-center">Copyright Magadh Capital. All Rights Reserved.</p>
        </div>
        <div class="col-sm-2" style="text-align: end;">
           <span  href="https://www.facebook.com/people/Magadh-Capital/pfbid0XkwwgRKoL77QPpJxNqzi8hDSDXKAfgiF1r1TNYm7Wo4WLCYrfdg2iK3LXkamxBsDl/" class="fa fa-facebook" style="font-size: larger;
    padding: 7px 10px;
    /* font-size: 30px; */
    background: #3B5998;
    color: white;
        margin-right: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-decoration: none;"></span>

     
           <span href="https://www.linkedin.com/company/magadh-capital-advisors-llp/?originalSubdomain=in" class="fa fa-linkedin" style=" 
    font-size: larger;
    padding: 8px;
    /* font-size: 30px; */
    /* width: 70px; */
    background: #007bb5;
    color: white;
    border-radius: 50%;
    text-decoration: none;    
    "></span>       
 </div>
      </div>
    </div>
