 <div class="post-content">
    <table style="    width: 50%;
    margin: auto;
    border-collapse: separate;
    border-spacing: 0 10px;">
        <tr>
            <td colspan="5">Title of Grievance<span
                    style="color: red;">*</span></td>
            <td colspan="1">:</td>
            <td colspan="6" style="text-align: end;"> <input
                    style="width: 90%;     height: 35px;   border: 1px solid darkgrey;
    border-radius: 5px;" type="text" id="title" name="title" value></td>
        </tr>

        <tr>
            <td colspan="5">Name of Grievant<span
                    style="color: red;">*</span></td>
            <td colspan="1">:</td>
            <td colspan="6" style="text-align: end;"> <input
                    type="text" style="width: 90%;    height: 35px;
        border: 1px solid darkgrey;
    border-radius: 5px;" id="Grievant" name="Grievant" value></td>
        </tr>

        <tr>
            <td colspan="5">Nature of Grievance</td>
            <td colspan="1">:</td>
            <td colspan="6" style="text-align: end;">

                <textarea type="text"
                    style="width: 90%;    border: 1px solid darkgrey;
    border-radius: 5px;" id="Nature" name="Nature" value></textarea></td>
        </tr>
        <tr>
            <td colspan="5">Email where we can reach you</td>
            <td colspan="1">:</td>
            <td colspan="6" style="text-align: end;"> <input
                    type="text" style="width: 90%;    height: 35px;
        border: 1px solid darkgrey;
    border-radius: 5px;" id="Email" name="Email" value></td>
        </tr>

        <tr>
            <td colspan="5">Contact Number</td>
            <td colspan="1">:</td>
            <td colspan="6" style="text-align: end;"> <input
                    type="text" style="width: 90%;    height: 35px;
        border: 1px solid darkgrey;
    border-radius: 5px;" id="Contact_no" name="Contact_no" value></td>
        </tr>
        <tr>
            <td colspan="5">Preferable Time to Contact</td>
            <td colspan="1">:</td>
            <td colspan="6" style="text-align: end;"> <input
                    type="text" style="width: 90%;    height: 35px;
        border: 1px solid darkgrey;
    border-radius: 5px;" id="Preferable_time" name="Preferable_time" value></td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <!-- <td colspan="6"></td> -->
            <td colspan="12" style="text-align: center;"><a
                    class="btn btn-default"
                    id="submitBtn"> Submit</a>
                <div id="spinner" style="display: none;">Submitting...</div>
            </td>
        </tr>
        <!-- <tr>
    <td colspan="5">contact you?</td>
    <td colspan="1">:</td>
    <td colspan="6" style="    padding-left: 23px;
    "><input type="radio" id="Yes" name="contact" value="YES">
    <label for="Yes" style="margin-right: 25px;">Yes</label>
    <input type="radio" id="No" name="contact" value="No">
    <label for="No">No</label></td>
  </tr> -->
        <!-- <tr>

    <button> Submit</button>
  </tr> -->
    </table>

    <!-- <div style="width: 50%;
    background: antiquewhite;
    margin: auto;" >

<form>
  <div style="display: flex;">
  <label for="title">Title of Complaint :</label>

  <div>
    <input type="text" id="title" name="title" value=""><br>
  </div>
  </div>
  <div style="display: flex;">
    <label for="Describe"> Describe Your Compliant :</label>
    <div>
      <input type="text" id="Describe" name="Describe" value=""><br>
    </div>
</div>
  <div style="display: flex;">

<label for="Employee">Name or Description of Employee :</label>
<div>
  <input type="text" id="Employee" name="Employee" value=""><br>
</div>
</div>
  <div style="display: flex;">

<label for="contact">May we contact you? :</label>
<div>
  <input type="radio" id="Yes" name="contact" value="YES">
  <label for="Yes">Yes</label>
  <input type="radio" id="No" name="contact" value="No">
  <label for="No">No</label>
  </div>
  </div>
</form>
  </div> -->
</div>