
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

/* FontAwesome Custom Font */
@font-face {
  font-family: 'FontAwesome';
  src: url('assets/fonts/fontawesome-webfont.eot');
  src: url('assets/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
       url('assets/fonts/fontawesome-webfont.woff2') format('woff2'),
       url('assets/fonts/fontawesome-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Typicons Custom Font */
@font-face {
  font-family: 'Typicons';
  src: url('assets/fonts/typicons.eot');
  src: url('assets/fonts/typicons.eot?#iefix') format('embedded-opentype'),
       url('assets/fonts/typicons.woff') format('woff'),
       url('assets/fonts/typicons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body, html {
  font-family: 'FontAwesome', Arial, Helvetica, sans-serif;
}

/* You can add global styles to this file, and also import other style files */
